.item-form {
	font-family: $font-body;
}

.standard-form {
	&:not(.gw-sheet) input[type="text"],
	&:not(.gw-sheet) input[type="number"] {
		height: auto;
		line-height: 1.8;
	}

	input::placeholder {
		font-style: italic;
		opacity: 0.5;
	}

	fieldset {
		legend {
			font-variant: small-caps;
			font-size: 18px;
		}
	}
}

.sheet-header {
	// flex: 0 auto;
	// overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;

	.profile-img {
		flex: 0 0 100px;
		height: 100px;
		margin-right: 10px;
	}

	.header-fields {
		flex: 1;
	}
}

.sheet-tabs {
	// flex: 0;
}

.form-group.stacked {
	> label {
		line-height: 1;
		padding-top: $padding-md;
	}
}

// Add another fieldset.
.add-another-entries {
	position: relative;
	margin-top: 4px;

	fieldset {
		position: relative;
	}

	.legend-control {
		position: absolute;
		top: -20px;
		right: 16px;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			margin: 0;
		}
	}
}

.entry {
	position: relative;

	&:hover {
		.entry-delete {
			display: block;
		}
	}

	.entry-delete {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -8px;
		margin: auto;
		background: black;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		border: 1px solid;
		border-radius: 4px;

		&:hover,
		&:focus {
			color: #ba0505;
			text-shadow: none;
		}
	}
}
